#Name: Christopher Gonzalez

#Email: christopherg0514@gmail.com

In [14]:
#Question 1: Setup

#Import the necessary libraries.
import pandas as pd
import numpy as np

#Create a DataFrame using the given data.
data =  {
 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
 'Age': [24, 27, 22, 32, 29],
 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)

#Display the DataFrame.
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eva   29      Phoenix

In [15]:
#Question 2: Pandas Dataframe Operations

#Select the 'Name' and 'City' columns and display them.
names = df['Name']
cities = df['City']

print('Names:\n', names)
print('\nCities:\n', cities)

#Filter the DataFrame to only include rows where 'Age' is greater than 25 and display the result.
filtered_df = df[df['Age'] > 25]
print('\nFiltered DataFrame:\n', filtered_df)

#Sort the DataFrame by 'Age' in ascending order and display the sorted DataFrame.
sorted_df = df.sort_values(by = 'Age')
print('\nSorted DataFrame:\n', sorted_df)

#Add a new column 'Age_Group' that categorizes ages into 'Young' (less than 30) and 'Adult' (30 and above), and display the updated DataFrame.
df['Age_Group'] = np.where(df['Age'] < 30, 'Young', 'Adult')
print('\nUpdated DataFrame:\n', df)

Names:
 0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

Cities:
 0       New York
1    Los Angeles
2        Chicago
3        Houston
4        Phoenix
Name: City, dtype: object

Filtered DataFrame:
     Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eva   29      Phoenix

Sorted DataFrame:
       Name  Age         City
2  Charlie   22      Chicago
0    Alice   24     New York
1      Bob   27  Los Angeles
4      Eva   29      Phoenix
3    David   32      Houston

Updated DataFrame:
       Name  Age         City Age_Group
0    Alice   24     New York     Young
1      Bob   27  Los Angeles     Young
2  Charlie   22      Chicago     Young
3    David   32      Houston     Adult
4      Eva   29      Phoenix     Young

In [16]:
#Question 3: Data Structures

#Create a list of new ages: [25, 28, 23, 33, 30]. Update the 'Age' column in the DataFrame with these new ages and display the updated DataFrame.
new_ages = [25, 28, 23, 33, 30]
df['Age'] = new_ages

print('\nUpdated DataFrame:\n', df)

#Create a dictionary mapping names to new cities: {'Alice': 'San Francisco', 'Bob': 'Seattle', 'Charlie': 'Austin', 'David': 'Dallas', 'Eva': 'Miami'}.
#Update the 'City' column using this dictionary and display the updated DataFrame.
new_cities = {'Alice': 'San Francisco', 'Bob': 'Seattle', 'Charlie': 'Austin', 'David': 'Dallas', 'Eva': 'Miami'}
df['City'] = df['Name'].map(new_cities)

print('\nUpdated DataFrame:\n', df)

Updated DataFrame:
       Name  Age         City Age_Group
0    Alice   25     New York     Young
1      Bob   28  Los Angeles     Young
2  Charlie   23      Chicago     Young
3    David   33      Houston     Adult
4      Eva   30      Phoenix     Young

Updated DataFrame:
       Name  Age           City Age_Group
0    Alice   25  San Francisco     Young
1      Bob   28        Seattle     Young
2  Charlie   23         Austin     Young
3    David   33         Dallas     Adult
4      Eva   30          Miami     Young

In [17]:
#Question 4:Control Flow

#Use a for loop to print the name and age of each person in the DataFrame.
for index, row in df.iterrows():
  print(row['Name'], row['Age'])

#Write a function to categorize ages into 'Youth' (less than 30) and 'Adult' (30 and above).
#Apply this function to create a new column 'Category' in the DataFrame and display the updated DataFrame.
def categorize_age(age):
  if age < 30:
    return 'Youth'

  else:
    return 'Adult'

df['Category'] = df['Age'].apply(categorize_age)

print('\nUpdated DataFrame:\n', df)

Alice 25
Bob 28
Charlie 23
David 33
Eva 30

Updated DataFrame:
       Name  Age           City Age_Group Category
0    Alice   25  San Francisco     Young    Youth
1      Bob   28        Seattle     Young    Youth
2  Charlie   23         Austin     Young    Youth
3    David   33         Dallas     Adult    Adult
4      Eva   30          Miami     Young    Adult